*.ipynb_checkpoints*
*.DS_Store*
*__pycache__*
~$*

*.csv*
!models/seq2seq/time_series_covid19_confirmed_global_simplified.csv

data
models/seq2seq/outputs
models/seq2seq/logs
ChartDialog-data
ChartDialog-save
